@media print {

    /* All your print styles go here */
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;
    }

    html {
        font-size: 100%;
    }


    body {
        font-size: 1em;
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 1;
        background-image: linear-gradient(45deg, #888888, #9fd1e0, #dfe4a1);
        background-attachment: fixed;
        background-position: center center;
        background-size: cover cover;
        background-repeat: no-repeat;
    }

    #header {
        display: none !important;
    }

    .table {
        width: 100% !important;
    }

    .table thead th {
        color: #000000 !important;
    }

    .side-bar {
        display: none !important;
    }





    .container-fluid {
        padding: 0px;
        width: 100%;
    }

    .container {
        max-width: 100% !important;
    }

    .card {
        border-color: #1f1f1f;
        margin: 15px 0px !important;
        width: 100%;
    }

    .nav .nav-item {
        font-size: 18px;
    }

    .nav .nav-item .nav-link {
        padding: 5px 10px;

    }

    .nav .nav-item:hover .nav-link {
        background-color: #f0ffff;
        color: #000000 !important;

    }

    a {
        text-decoration: none !important;
        color: #fff !important;

    }

    #btn-add-sub{
        display: none;
    }
    .body-section {
        max-width: auto;
        width: 100%;
    }

    .card-header, .description ,h2{
        display: none;
    }

    .table-footer-container {
        background-color: #dad6d6;
        padding: 5px;
        border-radius: 5px;
        padding-inline: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .gpa-class-alert {
        margin: 0;
        opacity: 0;
        transition: all 100ms ease-in;
        /* padding: 0; */
    }

    .display-gpa {
        font-size: 1.5rem;
        font-weight: 400;
        padding: 4px 8px;
        border-radius: 5px;
        border: 2px solid #2cc439;
        background-color: #00b646;
    }

    .gpa-text {
        font-weight: 500;

    }
    .table {
        border-radius: 4px;
        overflow: hidden;
    }
    .table thead tr th{
        background: #293942!important;
        color: #ffffff!important;
    }


    .table tr th:last-child {
        display: none !important;

    }
    .table tr td:last-child {
        display: none !important;

    }

    input.form-control,
    select.custom-select{
       -webkit-appearance: none; 
       appearance: none!important;
    }
    mark {
        padding: 3px 5px;
        color: #ffffff;
        border-radius: 2px;
    }

    h1 {
        margin-bottom: 0 !important;
    }

    .middle-part {
        margin-top: 20px !important;
        display: flex;
        align-items: flex-start;
        gap: 40px;

    }
}